@{
    ViewData["Title"] = "Careers at WorkNation";
    var jobs = ViewBag.Jobs;
}



<main class="w-100 py-5 main-banner mb-4 position-relative">
    <div class="w-100 bg-dark overlay position-absolute"></div>
    <section class="py-5 text-center jumbotron bg-primary w-80 mx-auto">
        <h1 class="text-white">@ViewData["Title"]</h1>
        <hr class="border-light w-50" />
        <p class="text-white">Latest jobs at WorkNation</p>
    </section>
</main>




<section class="jobs-list container">
    <table class="job-table table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Job Role</th>
                <th scope="col">Job category</th>
                <th scope="col">Deadline</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Job job in jobs)
            {
                <tr>
                    <th scope="row">@job.JobId</th>
                    <td><a href="all-jobs/@job.JobId">@job.Title</a></td>
                    <td>@job.JobCategory</td>
                    <td>@job.TimeUploaded.Date</td>
                </tr>
            }
            <!--
        <tr>
            <th scope="row">1</th>
            <td>Front-end web developer</td>
            <td>Engineering</td>
            <td>24/11/2020</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>UI/UX designer</td>
            <td>Design</td>
            <td>24/11/2020</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Content developer</td>
            <td>Product</td>
            <td>24/11/2020</td>
        </tr>-->
        </tbody>
    </table>

</section>

